# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# Logs
logs/
*.log

# Build
build/
dist/
*.egg-info/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Data sensível
.env
.env.*

# Arquivos grandes
*.zip
